<%= @program.errors.full_messages.join(", ") %>
<%= form_for @program do |f| %>
  <div>
    <%= f.label :program_name, "Program Name" %>
    <%= f.text_field :program_name %>
  </div>
  <%= f.submit %>
<% end %>
