<div>
  <h1><%= @program.program_name %></h1>
  <p><%= link_to "Add Another Workout", new_program_day_path(@program) %> |
     <%= link_to "Edit Program Name", edit_program_path(@program) %> |
     <%= link_to "Delete Entire Program", @program, method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
  <hr>
</div>

<div>
  <% @program.days.each do |day| %>
    <h3><%= link_to day.day_number, new_day_workout_log_path(day) %></h3>
    <p><%= link_to "Edit Workout", edit_program_day_path(@program, day) %> |
    <%#= link_to "Delete Workout", day, method: :delete, data: {confirm: "Are you sure?"} %></p>
    <hr>
  <% end %>
</div>
