<%= simple_form_for [@program, @day] do |f| %>
  <%= f.input :day_number, label: "Workout Name" %>
  <h2>Exercises</h2>
    <div id='exercises'>
      <%= f.simple_fields_for :exercises do |r| %>
        <%= render "exercise_fields", f: r %>
      <% end %>
    <div class="links">
      <%= link_to_add_association 'ADD AN EXERCISE', f, :exercises %>
    </div>
  </div>

  <%= f.button :submit, "Create Workout" %>
<% end %>
<hr>
