<h1>Create Exercise</h1>

<%= simple_form_for @exercise do |f| %>
  <div>
    <%= f.input :exercise_name %>
    <%= f.input :set %>
    <%= link_to_remove_association "remove exercise", f %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
